body{
    background-color: #333;
}
nav{
    border-radius: 10px;
    
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    color : rgb(255, 169, 169);
    padding :25px;
    font-size: 24px;
}
nav ul li a{
    color:rgba(255, 0, 0, 0.5);
    position: relative;
    display: inline-block;
}
a::before{
    color:yellow;
    position: absolute;
    left: 0;
    top: 0%;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
    border-bottom: 3px solid rgb(236, 199, 130);

}
a:hover::before{
    width: 100%;
    color: yellow;
}



@media(max-width:700px){
    nav{
        display: block;
        text-align: center;
    }
    nav ul li{
        display: block;
        padding: 10px 0;
    }
}

